* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

i {
    font-style: normal;
}

body {
    width: 640px;
    margin: 0 auto;
    background: #fff;
    color: #787878;
    font-family: "Microsoft YaHei";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

input {
    font-family: "Micrisoft YaHei";
    outline: none;
    border: none;
}

.red {
    border: 1px solid red;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}