* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

i {
    font-style: normal;
}

body {
    width: 640px;
    margin: 0 auto;
    background: #f2f2f2;
    color: #787878;
    font-family: "Microsoft YaHei";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

input {
    font-family: "微软雅黑";
    outline: none;
    border: none;
}

section {
    padding: 0px 20px;
}

.layout {
    width: 640px;
    overflow: hidden;
    margin: 0 auto;
    background: #f2f2f2;
}

.red {
    border: 1px solid red;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


/*index css*/


/*banner*/

.header {
    width: 100%;
    height: 120px;
}

.banner {
    width: 100%;
    height: 418px;
    display: block;
}

.banner a {
    width: 100%;
    height: 418px;
    display: block;
}


/*con1*/

.div1 {
    width: 100%;
    height: 1195px;
    display: block;
}

.pubtitle {
    width: 100%;
    height: 108px;
}

.pubtitle1 {
    height: 116px;
    position: relative;
    top: -13px;
}

.baodao {
    width: 600px;
    height: 370px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.baodao .img {
    width: 580px;
    height: 300px;
    margin: 0 auto;
    padding-top: 12px;
}

.baodao .img img {
    width: 580px;
    height: 300px;
}

.baodao .t {
    text-align: center;
    font-size: 24px;
    color: #323232;
    padding-top: 10px;
}

.div1 .div1_txt {
    width: 585px;
    padding-top: 65px;
    font-size: 24px;
    color: #787878;
    line-height: 40px;
    margin: 0 auto;
}

.div1 .div1_wenda {
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}

.s-title {
    height: 80px;
}

.div1 .div1_wenda .duihua1 {
    width: 136px;
    height: 190px;
    display: block;
    float: left;
    margin-left: 27px;
}

.div1 .div1_wenda .duihua2 {
    width: 477px;
    height: 190px;
    display: block;
    float: left;
    background: url(../images/duihua2.jpg)no-repeat center center;
}

.div1 .div1_wenda .duihua2 p {
    padding: 40px 40px 0px;
    font-size: 24px;
    color: #646464;
    line-height: 40px;
}

.btn-wrap {
    width: 100%;
    height: 150px;
    display: block;
}

.btn-wrap a {
    width: 264px;
    height: 84px;
    display: block;
    float: left;
    margin-top: 36px;
}

.btn-wrap a.a1 {
    margin-left: 40px;
}

.btn-wrap a.a2 {
    margin-left: 28px;
}


/*div2*/

.div2 {
    width: 100%;
    height: 705px;
    display: block;
}

.div2 .div2_1 {
    margin-bottom: 30px;
}

.div2 .div2_3 {
    height: 375px;
}

.div2 .div2_3 ul li {
    width: 205px;
    height: 306px;
    display: block;
    float: left;
    margin-left: 6px;
    margin-top: 22px;
    background: url(../images/div2_li.jpg)no-repeat center center;
}

.div2 .div2_3 ul li .name {
    height: 40px;
    font-size: 21px;
    color: #1e4664;
    text-indent: 38px;
    line-height: 39px;
    font-weight: 600;
}

.div2 .div2_3 ul li .name i {
    padding-right: 12px;
}

.div2 .div2_3 ul li .img {
    width: 197px;
    height: 104px;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}

.div2 .div2_3 ul li .txt {
    padding: 10px 10px 0;
    font-size: 22px;
    color: #1e4664;
    line-height: 39px;
}

.div2 .div2_4 {
    width: 586px;
    height: 94px;
    display: block;
    margin: 0 auto;
}


/*div3*/

.div3 {
    width: 100%;
    height: 750px;
    display: block;
}

.div3_2 {
    padding: 20px 0 0;
}


/*div4*/

.div4 {
    width: 100%;
    height: 1080px;
    display: block;
}

.div4_2 {
    padding: 27px 0 10px;
}

.div4_3 .yl-txt {
    font-size: 24px;
    color: #505050;
    line-height: 42px;
    padding: 10px 24px 30px;
}

.div4 .btn-wrap a {
    margin-top: 10px;
}


/*div5*/

.div5 {
    width: 100%;
    height: 1010px;
    display: block;
}

.div5_2 {
    width: 100%;
    height: 693px;
    display: block;
    margin-top: 34px;
    background: url(../images/div5_2.jpg)no-repeat center;
    position: relative;
}

.div5_2 .div_abs {
    width: 164px;
    height: 189px;
    display: block;
    position: absolute;
    text-align: center;
}

.div5_2 .div_abs .title {
    padding-top: 40px;
    font-size: 24px;
    color: #0078d2;
    font-weight: 600;
}

.div5_2 .div_abs .txt {
    font-size: 18px;
    color: #1e4664;
    line-height: 26px;
    padding: 10px 12px 0px;
}

.div5_2 .div5_2_1 {
    left: 0px;
    top: 0px;
}

.div5_2 .div5_2_2 {
    right: 0px;
    top: 0px;
}

.div5_2 .div5_2_3 {
    left: 20px;
    bottom: 113px;
}

.div5_2 .div5_2_4 {
    left: 237px;
    bottom: 0px;
}

.div5_2 .div5_2_5 {
    right: 20px;
    bottom: 113px;
}


/*div6*/

.div6,
.div6 a,
.div6 a img {
    width: 100%;
    height: 399px;
    display: block;
}


/*div6*/

.div7 {
    width: 100%;
    height: 925px;
    display: block;
}

.div7 ul {
    padding: 15px 0px 0px 12px;
}

.div7 ul li {
    width: 206px;
    height: 325px;
    display: block;
    float: left;
    text-align: center;
}

.div7 ul li .name {
    font-size: 30px;
    color: #505050;
    padding-top: 10px;
}

.div7 .btn-wrap a {
    margin-top: 15px;
}


/*div8*/

.div8 {
    width: 100%;
    height: 800px;
    display: block;
}

.div8_2 {
    padding: 22px 0 5px;
}

.div8_3 .yl-txt {
    font-size: 24px;
    color: #646464;
    line-height: 42px;
    padding: 0px 24px 30px;
}

.div8_4 {
    width: 580px;
    height: 84px;
    display: block;
    margin: 0 auto;
}


/*div9*/

.div9 {
    width: 100%;
    height: 1130px;
}

.div9 .div9_2 {
    margin: 23px 0px 34px;
}

.div9 .div9_3 {
    width: 100%;
    height: 556px;
    display: block;
    background: url(../images/div9_3.jpg)no-repeat center;
    position: relative;
}

.div9 .div9_3 .div9_abs {
    width: 124px;
    height: 144px;
    display: block;
    position: absolute;
    text-align: center;
}

.div9 .div9_3 .div9_abs .txt {
    font-size: 20px;
    color: #0078d2;
    line-height: 35px;
    font-weight: 600;
    padding: 35px 0px 0px;
}

.div9 .div9_3 .div9_3_1 {
    left: 3px;
    top: 168px;
}

.div9 .div9_3 .div9_3_2 {
    left: 110px;
    top: 57px;
}

.div9 .div9_3 .div9_3_3 {
    left: 253px;
    top: 0px;
}

.div9 .div9_3 .div9_3_4 {
    right: 117px;
    top: 57px;
}

.div9 .div9_3 .div9_3_5 {
    right: 3px;
    top: 168px;
}

.zz {
    width: 610px;
    height: 235px;
    display: block;
    margin: 25px auto;
}

.zz ul li {
    width: 300px;
    height: 235px;
    display: block;
    float: left;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.zz ul li:first-child {
    margin-right: 10px;
}

.zz ul li img {
    width: 282px;
    height: 179px;
    display: block;
    margin: 10px auto;
}

.zz ul li p {
    text-align: center;
    font-size: 24px;
    color: #1e4664;
}


/*form*/

.yuyue {
    overflow: hidden;
    width: 694px;
    margin: 0 auto;
}

.yuyue .yy-top {
    width: 100%;
    height: 180px;
}

.form_box {
    padding: 20px 0px;
    overflow: hidden;
    margin: 0px;
}

.form_box table tr {
    height: 50px;
    display: block;
    float: left;
    margin-bottom: 40px;
}

.form_box table tr .td1 {
    width: 137px;
    font-size: 26px;
    color: #323232;
    line-height: 50px;
    text-align: right;
    float: left;
    margin-right: 15px;
}

.form_box table tr .td2 .star {
    float: left;
    width: 15px;
    display: block;
    color: #ff2c55;
    padding-left: 5px;
    margin-top: 15px;
}

.form_box table tr .input-txt {
    width: 450px;
    height: 46px;
    display: block;
    float: left;
    line-height: 46px;
    text-indent: 25px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    font-size: 22px;
    background: #fff;
    color: #323232;
}

.form_box table tr .input-area {
    width: 450px;
    height: 140px;
    display: block;
    text-indent: 18px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    font-size: 22px;
    background: #fff;
    color: #323232;
    resize: none;
    padding-top: 10px;
    font-family: "微软雅黑";
}

input::-webkit-input-placeholder {
    font-size: 22px;
    color: #b4b4b4;
    font-family: "微软雅黑";
}

.form_box table tr .input-btn {
    width: 241px;
    height: 60px;
    display: block;
    float: left;
}

.form_box table tr .reset {
    background: url(../images/form_btn1.jpg)no-repeat center;
    margin-left: 55px;
}

.form_box table tr .submit {
    background: url(../images/form_btn2.jpg)no-repeat center;
    margin-left: 50px;
}


/*formend*/


/*footer*/

.footer {
    width: 640px;
    height: 208px;
    background: #003264;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 110px;
}

.footer-top {
    height: 150px;
    line-height: 44px;
}

.footer-top .p1 {
    padding-top: 30px;
}

.footer-bottom {
    height: 60px;
    background: #134c7b;
}

.footer-bottom p {
    color: #61b5d9;
    padding-top: 15px;
}